form {
    font-family: Arial;
    text-align: center;
    color: #E8853F;
    
  }
h1 {
      font-family: Arial;
      text-align: center;
      color: #E8853F;
      }
img {
      width: 50%;
      height: 50%;
  }
  